body {
    font-family: Lora;
}

header {
    text-align: center;
    padding: 10px;
}

h2{
    color:#AF1B3F ;
}

nav ul {
    display: block;
    text-align: right;
    border-top:2px solid #EFC69B;
    border-bottom:2px solid #EFC69B;
    padding: 20px 
    
}
nav ul li {
    display: inline;
    margin-right: 10px;
    color:#AF1B3F ;
    font-size: 25px;
    
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 20px;
    padding: 10px;
}

.date-genre {
    padding: 15px;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}

.book-info {
    padding: 20px;
    text-align: left; 
    font-size: 25px;
}

.book-info img {
    height: auto;
    display: block;
    margin-bottom: 10px; 
}



main {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


.skiptocontent a {
    position: absolute;
    /* left: -10000px; */
    top: -40px;
    width: 1px;
    height: 1px;
    overflow: hidden;   
}

.skiptocontent a:focus {
    position: static;
    width: auto;
    height: auto;
    top:0
}
.red{
    color:#AF1B3F ;
}
aside {
    width: 10%;
    padding: 10px;
    border: 2px solid #EFC69B;
    margin-right: 50px;
   
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

img {
    width: 50%;
    display: block;
    margin-left: 50px;
}
