body {
    font-family: Lora;
}

header {
    text-align: center;
    padding: 10px;
}

h2{
    color:#AF1B3F ;
}

nav ul {
    display: block;
    text-align: right;
    border-top:2px solid #EFC69B;
    border-bottom:2px solid #EFC69B;
    padding: 20px 
    
}
nav ul li {
    display: inline;
    margin-right: 10px;
    color:#AF1B3F ;
}
.line{
    display: grid;                  /* Enables CSS Grid Layout */
    grid-template-columns: 1fr 1fr /* Defines three columns of equal width */
    gap: 10px;
}

.book-details {
    padding: 20px;                  /* Optional: padding inside each grid item */
    text-align: center;   
}

main {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

aside {
    width: 10%;
    padding: 10px;
    border: 2px solid #EFC69B;
    margin-right: 50px;
   
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
